@import "../theme/labs.less";

@fluidGridColumnWidth:    6.2%;

/*@gridGutterWidth, @gridColumnWidth, @gridRowWidth*/

@gridColumnWidth:         60px;
@gridGutterWidth:         20px;

/*@gridColumnWidth:			80px;*/


@labsPageWidth: (@gridRowWidth + (2 * @gridGutterWidth));
//@labsPageWidth: @gridRowWidth;

@labsNewsSummaryWidth: auto;

.navbar {
  width: @labsPageWidth;
  margin: auto;
   position: relative;
  .box-shadow(1px 1px 12px #555);
}

#FKtopContent,#FKfooter {
  width: @labsPageWidth;
  padding-top: 5px;
}

#FKfooter {
  margin: auto;
}

.central &[class*="span"] {
  margin-left: 5px;
}

.sidebar, #sidebar {
  &[class*="span"] {margin-left: 5px;width: 177px;}
   /*>div{
      margin-left: 10px;
      margin-right: 0px;
    }*/
}

.container-fluid {
    padding-left: 5px;
    padding-right: 5px;
    /*margin-right: -14px;*/
}


@media print {
    #FKfooter,.topnavpages,.sidebar,.navbar-wrapper,.masthead,#divDisplayTags,#divLike,.ribbon  {
        display: none !important;
    }
    
    .central {
        width : 100% !important;
    }
}   

.ribbon {
    position: fixed; 
    top: 0; 
    left: 0; 
    border: 0;
    z-index: 20000;
}

.nav-tabs > li
{ margin-bottom :-2px; }

.nav-tabs > .active > a
{ border : 2px solid #ccc; }

.nav-tabs
{ border-bottom : 2px solid #ccc; } 
